####
# {{ ansible_managed }}
####

ssl_ciphers '{{ nginx_ssl_ciphers }}';
ssl_ecdh_curve {{ nginx_ssl_ecdh_curve }};


ssl_protocols {{ nginx_ssl_protocols }};
ssl_prefer_server_ciphers on;
ssl_session_cache shared:SSL:10m;
ssl_dhparam {{ nginx_dh_path }};
