{% extends "core.j2" %}

{% block root %}
  root {{ item.root }};
  index {{ item.index }};
{% endblock %}

{% block location %}

## LOCATIONS
  location / {
    # Add cache for static files
    if ($request_uri ~* ^/(img|css|font|js)/) {
      add_header Expires "Thu, 31 Dec 2037 23:55:55 GMT";
      add_header Cache-Control "public, max-age=315360000";
    }

    # HTTPS only header, improves security
    add_header Strict-Transport-Security "max-age=15768000";

  }
{% endblock %}
