# the upstream component nginx needs to connect to
upstream etebase {
    server unix:///tmp/etebase_server.sock; # for a file socket
    # server {{ item.upstream_name }}:{{ item.upstream_port }}; # for a web port socket (we'll use this first)
}

# configuration of the server
{% extends "core.j2" %}

{% block location %}

    charset     utf-8;
    # max upload size
    client_max_body_size 75M;   # adjust to taste

    location /static/ {
        alias {{ item.static_root }}/; # Project's static files
    }

    location / {
        proxy_pass http://etebase;

        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection "upgrade";

        proxy_redirect off;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Host $server_name;
    }
{% endblock %}

}