{% extends "core.j2" %}

{% block location %}

## LOCATIONS
  location / {
    proxy_pass {{ item.upstream_proto }}://{{ item.upstream_name }}:{{ item.upstream_port}};
    proxy_set_header Host $host;
    proxy_pass_header Server;
    proxy_buffering off;
    proxy_set_header X-Real-IP $remote_addr;
    proxy_set_header X-Forwarded-For $remote_addr; 
    proxy_set_header X-Forwarded-Proto $scheme; 
    proxy_set_header Host $host;
    proxy_http_version 1.1;
    proxy_set_header Upgrade $http_upgrade;
    proxy_set_header Connection "upgrade";
 
{% if item.secure_cookie is defined %}
    proxy_cookie_path / "/; secure; HttpOnly; SameSite=strict";
{% endif %}
  }

{% endblock %}
{% block app_specific %}
  rewrite /stats =404;

{% endblock %}
