####
# {{ ansible_managed }}
####


### HTTP

server {
  server_name {{ item.name }};
  return 301 {{ item.send_to }};
}

server {
  server_name www.{{ item.name }};
  return 301 $scheme://{{ item.name }}$request_uri;
}
