{% extends "core.j2" %}
{% block root %}
  root {{ nginx_www_dir }}{{ item.root }};
  index {{ item.index }};
  try_files {{ item.override_try_files | default('try_files $uri $uri/ =404') }};
{% endblock %}

{% block location %}

## LOCATIONS
   location / {
           try_files $uri $uri/ =404;
 
   }
 
   location ~* \.pdf$ {
           add_header Cache-Control no-store;
 
   }
 
   if (!-e $request_filename) {
           rewrite ^(.+)$ /index.php?q= last;
 
   }
 
   location ~* /storage/.*\.php$ {
           return 503;
 
   }
 
   location ~ \.php$ {
       include snippets/fastcgi-php.conf;
       fastcgi_pass unix:/run/php/php{{ php_version }}-fpm.sock;
 
   }
 
   location ~ /\.ht {
           deny all;
 
   }


{% endblock %}
