limit_req_zone $binary_remote_addr zone={{ item.name }}_ratelimit:10m rate=1r/s;

{% extends "core.j2" %}
{% block extra_upstreams %}
upstream lemmy {
  server "{{ item.upstream_name }}:{{ item.lemmy_port }}";
}
upstream lemmy-ui {
  server "{{ item.upstream_name }}:{{ item.lemmy_ui_port }}";
}
{% endblock %}

{% block location %}

# frontend
location / {

  set $proxpass "{{ item.upstream_proto }}://lemmy-ui";

  if ($http_accept ~ "application/activity+json") {
    set $proxpass "{{ item.upstream_proto }}://lemmy";
  }

  if ($request_method = "application/ld+json; profile=\"https://www.w3.org/ns/activitystreams\"") {
    set $proxpass "{{ item.upstream_proto }}://lemmy";
  }

  if ($request_method = POST) {
    set $proxpass "{{ item.upstream_proto }}://lemmy";
  }
  proxy_pass $proxpass;

  rewrite ^(.+)/+$ $1 permanent;
  # Send actual client IP upstream
  proxy_set_header X-Real-IP $remote_addr;
  proxy_set_header Host $host;
  proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
  }

# backend
location ~ ^/(api|pictrs|feeds|nodeinfo|.well-known) {
  proxy_pass {{ item.upstream_proto }}://lemmy;
  proxy_http_version 1.1;
  proxy_set_header Upgrade $http_upgrade;
  proxy_set_header Connection "upgrade";
  proxy_set_header X-Real-IP $remote_addr;
  proxy_set_header Host $host;
  proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
  }
{% endblock %}
