####
# {{ ansible_managed }}
####

server {

  listen 80;
  server_name {{ item.name }};

  location /.well-known/acme-challenge {
    root {{ letsencrypt_webroot_path }};
    try_files $uri =404;
  }
}
