{% extends "core.j2" %}

{% block root %}
  root {{ nginx_maintenance_page_root }};
  index index.html;
{% endblock %}

{% block location %}
  location / {
    try_files /index.html =404;
  }
{% endblock %}
