{% extends "core.j2" %}

{% block extra_upstreams %}
map $http_upgrade $connection_upgrade {
  default upgrade;
  '' close;
}

{% endblock %}

{% block location %}

  location / {
    root {{ item.root }};
  }

  location /server {
    proxy_pass http://{{ item.server }}:{{ item.port }};
    proxy_http_version 1.1;
    proxy_set_header Upgrade $http_upgrade;
    proxy_set_header Connection "upgrade";
  }

{% endblock %}
