{% extends "core.j2" %}

{% block extra_upstreams %}

{% if item.mainsite is defined and item.mainsite == 'true' %}
proxy_cache_path /tmp/pleroma-media-cache levels=1:2 keys_zone=pleroma_media_cache:10m max_size=10g inactive=720m use_temp_path=off;

upstream phoenix {
  server {{ item.upstream_name }}:4000 max_fails=5 fail_timeout=60s;
}
{% endif %}
{% endblock %}

{% block location %}

{% if item.mainsite is defined and item.mainsite == 'true' %}
  location / {
    proxy_pass http://phoenix;
{% if item.mangane is defined and item.mangane == 'true' %}
    proxy_hide_header Content-Security-Policy;
    add_header Content-Security-Policy "upgrade-insecure-requests;script-src 'self';connect-src 'self' blob:     https://{{ item.name }} wss://{{ item.name }};media-src 'self' https:;img-src 'self' data: blob: https:;default-   src 'none';base-uri 'self';frame-ancestors 'none';style-src 'self' 'unsafe-inline';font-src 'self';manifest-src  'self';" always;
{% endif %}
  }
{% endif %}

{% if item.mediasite == 'true' %}
  location ~ ^/(media|proxy) {
    proxy_cache        pleroma_media_cache;
    slice              1m;
    proxy_cache_key    $host$uri$is_args$args$slice_range;
    proxy_set_header   Range $slice_range;
    proxy_cache_valid  200 206 301 304 1h;
    proxy_cache_lock   on;
    proxy_ignore_client_abort on;
    proxy_buffering    on;
    chunked_transfer_encoding on;
    proxy_pass         http://phoenix;
  }
{% endif %}
{% if item.mediasite is defined and item.mediasite == 'false' %}
  location ~ ^/(media) {
    rewrite ^/(.*)$ https://{{ item.mediasiteurl }}/$1 permanent;
  }
{% endif %}
{% endblock %}
{% block app_specific %}

  proxy_http_version 1.1;
  proxy_set_header Upgrade $http_upgrade;
  proxy_set_header Connection "upgrade";
  proxy_set_header Host $http_host;
  proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;

{% endblock %}
