{% extends "core.j2" %}

{% block location %}

## LOCATIONS
# ROOT LOCATION
 location / {
    proxy_pass  {{ item.upstream_proto }}://{{ item.upstream_name }}:{{ item.upstream_port}};
    proxy_next_upstream error timeout invalid_header http_500 http_502 http_503;
    proxy_set_header Host $host;
    proxy_set_header X-Real-IP $remote_addr;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header X-Forwarded-Proto $scheme;
    proxy_redirect off;
{% if item.secure_cookie is defined %}
    proxy_cookie_path / "/; secure; HttpOnly; SameSite=strict";
{% endif %}
{% if item.location_extra_options is defined %}
{% for option in item.location_extra_options %}
    {{ option }}
{% endfor %}
{% endif %}
{% if item.root_custom_headers is defined %}
{% set header = item.root_custom_headers %}
    #headers
{% if header.permission_policy is defined and header.permission_policy == 'none' %}
{% else %}
    add_header Permissions-Policy "geolocation=(),interest-cohort=()";
{% endif %}
{% if header.secure_site is defined and header.secure_site == 'none' %}
{% else %}
    add_header X-Download-Options noopen;
    add_header X-Permitted-Cross-Domain-Policies none;
{% endif %}
{% if header.referrer is defined and header.referrer == 'none' %}
{% else %}
    add_header Referrer-Policy "{{ header.referrer | default('no-referrer') }}";
{% endif %}
{% if header.xframe is defined and header.xframe == 'none' %}
{% else %}
    add_header X-Frame-Options "{{ header.xframe | default("SAMEORIGIN") }}";
{% endif %}
{% if header.nginx_HSTS_policy is defined and header.nginx_HSTS_policy == 'none' %}
{% else %}
    add_header Strict-Transport-Security "max-age={{ nginx_hsts_age }}; includeSubDomains; preload;" always;
{% endif %}
{% if header.csp is defined %}
    add_header Content-Security-Policy "{{ header.csp | default("default-src 'self'; script-src 'self'; connect-src 'self'; img-src 'self'; style-src 'self'; base-uri 'self'; form-action 'self';") }}";
{% endif %}
{% if header.cto is defined and header.cto == 'none' %}
{% else %}
    add_header X-Content-Type-Options "{{ header.cto | default('nosniff') }}";
{% endif %}
{%if header.xss is defined and header.xss == 'none' %}
{% else %}
    add_header X-XSS-Protection "{{ header.xss | default('1; mode=block') }}";
{% endif %}
{% if header.robots is defined and header.robots == 'none' %}
{% else %}
    add_header X-Robots-Tag "{{ header.robots  | default('none') }}";
{% endif %}
{% endif %}

  }

{% if item.favicon is defined %}
  location /favicon.ico {
    alias {{ item.favicon }};
    expires 30d;
    access_log off;
    log_not_found off;
  }
{% endif %}

{% if item.extra_locations is defined %}
# EXTRA LOCATIONS
{% for locations in item.extra_locations %}
  location {{ locations.name }} {
    proxy_pass  {{ locations.upstream_proto }}://{{ locations.upstream_name }}:{{ locations.upstream_port}};
    proxy_next_upstream error timeout invalid_header http_500 http_502 http_503;
    proxy_set_header Host $host;
    proxy_set_header X-Real-IP $remote_addr;
    proxy_set_header X-Forwarded-For $remote_addr;
    proxy_redirect off;
{% if item.secure_cookie is defined %}
    proxy_cookie_path / "/; secure; HttpOnly; SameSite=strict";
{% endif %}
{% if locations.headers is defined %}
{% for item in locations.headers %}
{% if item.secure_site is defined %}
    add_header X-Download-Options noopen;
    add_header X-Permitted-Cross-Domain-Policies none;
    add_header Referrer-Policy {{ item.referrer | default('no-referrer') }};
{% if item.header_sameorigin is defined %}
    add_header X-Frame-Options "SAMEORIGIN";
{% endif %}
{% endif %}
{% if item.nginx_HSTS_policy is defined %}
    add_header Strict-Transport-Security "max-age=63072000; includeSubDomains; preload";
{% endif %}
{% if item.referrer is defined %}
    add_header Referrer-Policy no-referrer;
{% endif %}
{% if item.csp is defined %}
    add_header Content-Security-Policy "{{ item.csp }}";
{% endif %}
{% if item.cto is defined %}
{% if item.cto == 'none' %}
{% else %}
    add_header X-Content-Type-Options {{ item.cto }};
{% endif %}
{% else %}
    add_header X-Content-Type-Options nosniff;
{% endif %}
{%if item.xss is defined %}
{% if item.xss == 'none' %}
{% else %}
    add_header X-XSS-Protection "{{ item.xss }}";
{% endif %}
{% else %}
    add_header X-XSS-Protection "1; mode=block";
{% endif %}
{% if item.robots is defined %}
    add_header X-Robots-Tag "{{ item.robots }}";
{% else %}
    add_header X-Robots-Tag none;
{% endif %}

{% endfor %}
{% endif %}
    }

{% endfor %}
{% endif %}
{% endblock %}
```
