{% extends "core.j2" %}

{% block location %}

## LOCATIONS
  location / {
    rewrite ^ {{ item.proto }}://{{ item.name }}/{{item.root }}/ last;
  }

  location /pwm {
    proxy_pass {{ item.upstream_proto }}://{{ item.upstream_name }}:{{ item.upstream_port}};
    proxy_next_upstream error timeout invalid_header http_500 http_502 http_503;
    proxy_set_header Host $host;
    proxy_set_header X-Real-IP $remote_addr;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_redirect off;

    proxy_max_temp_file_size 0;
    proxy_buffering off;
    proxy_connect_timeout 60;
    proxy_send_timeout 60;
    proxy_read_timeout 60;
    proxy_cookie_path / "/; secure; HttpOnly; SameSite=strict";

  }

  {% if ansible_date_time.weekday_number == '6' or ansible_date_time.weekday_number == '7' %}
  location /pwm/public/newuser {
     root /var/www/out-of-order;
     index index.html;
 }
{% endif %}
{% endblock %}
