{% extends "core.j2" %}

{% block root %}
  root {{ nginx_www_dir }}{{ item.root }};
  index {{ item.index }};
{% endblock %}

{% block location %}
## LOCATIONS
  location ~ /\. {
    deny all;
  }

  location = /favicon.ico {
	  expires 30d;
	  access_log off;
	  log_not_found off;
  }

  location ~* \.(txt|js|css|png|jpe?g|gif|ico|svg)$ {
	  expires 30d;
	  log_not_found off;
  }

  location ~ ^/(README.md|INSTALL|LICENSE|CHANGELOG|UPGRADING)$ {
    deny all;
  }

  location ~ ^/(config|temp|logs)/ {
    deny all;
  }

{% if rcube_oauth == 'true' %}
  location ~ [^/]\.php(/|$) {
    fastcgi_split_path_info ^(.+?\.php)(/.*)$;
    fastcgi_param  PATH_INFO          $fastcgi_path_info;
    fastcgi_param  PATH_TRANSLATED    $document_root$fastcgi_path_info;
{% else %}
  location ~ \.php$ {
    try_files $uri =404;
{% endif %}
    fastcgi_pass {{ item.fastcgi_pass }};
    fastcgi_index index.php;
    fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
    include fastcgi_params;
  }
{% endblock %}
