{% extends "core.j2" %}
{%block app_specific %}
  large_client_header_buffers 4 32k;
  client_max_body_size 50M;
  charset utf-8;
{% endblock %}

{% block location %}
  location / {
    root {{ taiga_front_dir }};
    try_files $uri $uri/ /index.html;
  }

  location /api {
    proxy_set_header Host $http_host;
    proxy_set_header X-Real-IP $remote_addr;
    proxy_set_header X-Scheme $scheme;
    proxy_set_header X-Forwarded-Proto $scheme;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_pass {{ taiga_api_url }};
    proxy_redirect off;
  }

  location /static {
    alias {{ taiga_back_dir }}/static;
  }

  location /media {
    alias {{ taiga_back_dir }}/media;
  }

  location /user-settings/user-change-password {
    return 301 {{ taiga_user_change_passwd_url }};
  }
{% endblock %}
