{% extends "core.j2" %}

{% block root %}
root {{ nginx_www_dir }}{{ item.root }};
  index {{ item.index }};
  include /etc/nginx/mime.types;
  default_type  application/octet-stream;
  sendfile on;

{% endblock %}
{% block location %}

## LOCATIONS
  location /tt-rss/cache {
    aio threads;
    deny all;
  }

  location = /tt-rss/config.php {
    deny all;
  }

  location /tt-rss/backups {
      deny all;
  }

  location / {
    try_files $uri $uri/ =404;
  }

  location ~ \.php$ {
    # regex to split $uri to $fastcgi_script_name and $fastcgi_path
    fastcgi_split_path_info ^(.+?\.php)(/.*)$;

    # Check that the PHP script exists before passing it
    try_files $fastcgi_script_name =404;

    # Bypass the fact that try_files resets $fastcgi_path_info
    # see: http://trac.nginx.org/nginx/ticket/321
    set $path_info $fastcgi_path_info;
    fastcgi_param PATH_INFO $path_info;

    fastcgi_index index.php;
    include fastcgi.conf;

    fastcgi_pass {{ item.fastcgi_pass }};
  }
{% endblock %}
