server {
  listen {{ item.port }};
  
  location /basic_status {
    stub_status;
    access_log off;
    allow 127.0.0.1;
    deny all;
  }
{% if item.php_check is defined and item.php_check == 'true' %}
   location ~ ^/(status|ping)$ {
     access_log off;
     allow 127.0.0.1;
     deny all;
 
     fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
     fastcgi_index index.php;
     include fastcgi_params;
     fastcgi_pass unix:{{ pool_listen }};
  }
{% endif %}

}
